################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SpecFlowProject1/.vs/SpecFlowProject1
/SpecFlowProject1/SpecFlowProject1/obj
/SpecFlowProject1/SpecFlowProject1/bin/Debug/net6.0
